<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <!-- Blog Information Section -->
            <div class="col l6 s12">
                <h5 class="black-text">Blogify</h5>
                <p class="grey-text text-lighten-4">Your go-to destination for insightful, engaging, and informative content on various topics. Stay tuned for updates and join the journey!</p>
            </div>

            <!-- Links Section -->
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Quick Links</h5>
                <ul>

                     <li><a  href="{% url 'about' %}">About Us</a></li>
                    <li><a  href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <!-- Add this to your footer -->
                    <li><a href="{% url 'faq' %}">FAQ</a></li>

                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col l2 s12">
                <h5 class="black-text">Follow Us</h5>
                <ul>
                    <li><a  href="https://www.facebook.com/yourpage">Facebook</a></li>
                    <li><a  href="https://twitter.com/yourprofile">Twitter</a></li>
                    <li><a  href="https://www.instagram.com/yourprofile">Instagram</a></li>
                    <li><a  href="https://www.linkedin.com/in/yourprofile">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="footer-copyright">
        <div class="container">
            © 2025 Blogify. All Rights Reserved.
            <a class="grey-text text-lighten-4 right" href="more-links.html">More Links</a>
        </div>
    </div>cd
</footer>
